/* * {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    color: rgb(10, 10, 10);
  } */
  /* .App {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d5d2d2;
  } */
  
  .card {
    
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    background-color: rgb(253, 248, 248);
    margin: 2%;
    border: 1px solid rgb(108, 217, 144);
    border-radius: 1px;
    padding: 2%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    
  }
  .card:hover{
    box-shadow: 0 0 5px 5px #1b9a39;
  }

  .cardTitles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    list-style: none;
  }

  li:not(:last-child) { 
    margin-bottom: 10px;  
 }

  .ul {
    text-align: left;
  }

  .image{
    width: 80%;
    height: 45%;
  }


