/* * {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    color: rgb(10, 10, 10);
  } */
  /* .App {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d5d2d2;
  } */
  
  .card {
    
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 2%;
    border: 1px solid steelblue;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    
  }
  .ul {
    text-align: center;
  }

  .image{
    
  }

  /* button{
    width: 40%;
    height: 40px;
    margin: 0px 5px;
    color: green;
    font-weight: 600;
  } */
  
