.App {
  text-align: center;
  font-family: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #000818;
  background-image: url("../../images/planet_soc.png"), url("../../images/stars.webp");
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  color: #F7F7F7;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-duration: 100s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

.cardDisplay {
  display: flex;
  flex-wrap: wrap;
}

.createCardDiv {
  width: 30%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 20px;
  text-align: left;
}
.title {
  font-size: 50px;
}