/* * {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    color: rgb(10, 10, 10);
  } */
  /* .App {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d5d2d2;
  } */
  
  .createCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 20px;
    border: 1px solid steelblue;
    border-radius: 30px;
    padding: 30px;
    row-gap: 5px;
    -ms-grid-row-span: 20px;
    text-align: center;
    
    
  }

  .button{
    display: inline-block;
    width: 40%;
    height: 40px;
    margin: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
  }
  
